.blogs h2 {
  color: #619cec;
  font-size: 2.5rem;
}

.blogList {
  width: 75%;
  border-style: groove;
  margin: auto;
  border-color: #619cec;
  box-shadow: 10px 10px #619cec;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  text-align: left;
  padding-left: 2rem;
}

.blogList h3 {
  font-size: 2rem;
}

.blogList h4 {
  font-weight: normal;
  font-size: 1.5rem;
}

.blogList p {
  text-align: justify;
  margin-right: 3rem;
}
